

.login-form {
    width: 100%;
   position: absolute;
   
   
    max-width: 330px;
    padding: 15px;
  
    margin-right: 50px;
    height: 86%;
    border: solid 1px #ccc;
  

}

h2{
    color: rgb(95, 160, 135);
   
}


.title{
    font-weight: bold;
    text-align: center;
}

.center{
    text-align: center;
}
.logo {
    
    width: 200px;
    height: 100px;
    border: solid 1px #ccc;

}
.top-bar {
    
    width: 200px;
    height: 100px;
    border: solid 1px #ccc;
    display: inline-block;
   
}
.carousel{
    position: absolute;
    margin-left: 225px;
   
    
   
    
}



.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    padding-top: 0px;
    max-height: 500px;  /* change this to whatever you want */
    width: auto;

   
}



.carousel-caption {
    top: 100;
    width: 600px;
    margin-left: 70px;
    position: relative;
    bottom: auto;
    font-size: larger;
   
    border-radius: 25px;
   
    color: aqua;
    background-color: rgba(0, 0, 0, 0.692);
}


.logo{
    display: block;
    max-width:330px;
    max-height:300px;
    width: auto;
    height: auto;
    
}
.logo-container{
    margin-left: 0%;
}

