.profile-image {
    border-radius: 50%;
    margin:20px

}
.profile-form{
    margin-top:-350px;
    margin-left: 600px;
    width:400px;
    
}
.Users-Name {
    color: rgb(45, 82, 70);
    font-size:31px ;
    margin-left: -90px;
    padding-top: 25px;
    font-weight: bold;
}

.bio{

    color:grey;
    font-size: small;
    padding-left: 120px;
    padding-top: 10px;
}

.App-profile{
    font-family:sans-serif;
    text-align: center;
    align-items: left;
    max-width: 450px;
    margin-top: 0px;
    margin-left: 50px
}

.mt-4-profile{
    margin-top: -4.0rem !important;
    margin-left: 19rem;
    height: 38px;
    width:180px
}